.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.employeesBlock {
  grid-column-start: 1;
  grid-column-end: 3;
}
.employees-title{
  text-align: center;
}
.byLetter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.active{
  color: blue
}
.not-active {
  color: black
}
.birthdayBlock {
}
.centralLine {
  text-align: center;
}
.verticalLine {
  margin-top: 6%;
  height: 70%;
  position: absolute
}
.birthday {
  margin-left: 4%;
}